registry=https://registry.npmmirror.com/
# sharp is gatsby-plugin-sharp dependency
# ref: https://sharp.pixelplumbing.com/install#chinese-mirror
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
