.nav {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem calc((100vw - 1300px) / 2);
  z-index: 100;
  position: relative;

  .logo {
    background-size: contain;
    transform: translate(30%);
  }

  .navMenu {
    display: flex;
    align-items: center;
    transform: translate(-30%);

    @media screen and (max-width: 768px) {
      display: none;
    }

    .menuItem {
      color: #fff;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0 1rem;
      height: 100%;
      cursor: pointer;
    }

    .blackMenuItem {
      color: black;
    }

    .MenuItemActive {
      color: #4c95f7;
    }
  }

  .bar {
    display: none;
    color: #fff;

    @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 95%);
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
}

.navWhiteBackground {
  background-color: #fff;
}

.shadow {
  box-shadow: 0 8px 24px -2px rgba(0, 0, 0, 5%);
}