.container {
  width: 100%;
  display: flex;
  justify-content: center;

  .slider {
    height: 32rem;
    width: 38rem;

    @media screen and (max-width: 768px) {
      height: 22rem;
      width: 28rem;
    }

    @media screen and (max-width: 576px) {
      height: 16rem;
      width: 22rem;
    }

    @media screen and (max-width: 375px) {
      height: 12rem;
      width: 16rem;
    }
  }

  svg {
    width: 40px;
    height: 40px;
  }

  svg:nth-of-type(1) {
    left: -3rem;
  }

   svg:nth-of-type(2) {
    right: -3rem;
  }
}


.image {
  background-size: contain;
  height: 100%;
  width: calc(100% - 5rem);
}
